.Container-SectionOne{

    display: flex;
    flex-direction: column;
    padding-top: 770px;
    padding-bottom: 150px;
    width: 80%;
    margin: auto;

}

.Container-SectionOne-Child:nth-child(1){

    display: flex;
    flex-direction: column;
    width: 50%;

}

.Container-SectionOne-Child:nth-child(2){

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.Container-SectionOne-Child1:nth-child(1){
    
    font-size: 33px;
    font-weight: 700;

}

.Container-SectionOne-Child1:nth-child(2){
    
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.400);

}

.Container-SectionOne-Child2{
    
    display: flex;
    flex-direction: column;

}

.Container-SectionOne-Child2:nth-child(1){
    
    margin: 0px;

}

.Container-SectionOne-Child2:nth-child(2){
    
    margin-left: 20px;

}

.Container-SectionOne-Child2:nth-child(3){
    
    margin-left: 20px;

}

.Container-SectionOne-Child2:nth-child(4){
    
    margin-left: 20px;

}

#Container-SectionOne-Child2-Circle1{

    width: 72px;
    height: 72px;
    margin: 0px 0px 30px 0px;
    background: url('./img/icon-online.svg') center left no-repeat;

}

#Container-SectionOne-Child2-Circle2{

    width: 72px;
    height: 72px;
    margin: 0px 0px 30px 0px;
    background: url('./img/icon-budgeting.svg') center left no-repeat;

}

#Container-SectionOne-Child2-Circle3{

    width: 72px;
    height: 72px;
    margin: 0px 0px 30px 0px;
    background: url('./img/icon-onboarding.svg') center left no-repeat;

}

#Container-SectionOne-Child2-Circle4{

    width: 72px;
    height: 72px;
    margin: 0px 0px 30px 0px;
    background: url('./img/icon-api.svg') center left no-repeat;

}



.Container-SectionOne-Child2-Text{
    
    display: flex;
    flex-direction: column;

}

.Container-SectionOne-Child2-Text1{

    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;

}

.Container-SectionOne-Child2-Text2{

    color: rgba(0, 0, 0, 0.400);
    font-weight: 700;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0px;

}